# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Local configuration file
*.ini

# IDE files
.vscode/
.idea/

# Environment-specific files
.env

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Dependency folders
venv/
env/

kmeans
hubert_features
librispeech-hubert-discrete-tokens
outputs
outputs2
hubert-large-ll60k-librispeech-clean-100h-demo-dist
hubert-large-ll60k-librispeech-single-gpu_test_output
wandb/